@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: orangered;
  font-family: 'Lato', sans-serif;
}

.header {
  height: 30vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
}

.search {
  padding-left: 2%;
  border: none;
  border-radius: 2px;
  width: 71vw;
  height: 6vh;
  outline-color: orangered;
}

.stats {
  color: white;
  font-weight: bold;
  height: 6vh;
  display: flex;
  align-items: center;
  background-color: rgb(222 61 3 / 63%);
  padding-left: 2%;
}

.coin-lists {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(222 61 3 / 63%);
}

.container {
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}

.sub-type {
  margin-left: 5%;
}

.list {
  position: relative;
  height: 30vh;
  color: white;
  padding: 3%;
}

.list:nth-child(2),
.list:nth-child(3n) {
  background-color: rgba(208, 57, 3, 0.63);
}

.for-arrow {
  position: absolute;
  top: 5%;
  right: 5%;
}

a {
  cursor: pointer;
  color: white;
}

.details {
  position: relative;
}

.back-arrow {
  position: absolute;
  left: 0;
  top: 2%;
}

.coin-title {
  height: 30vh;
  width: 90%;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 2%;
  font-size: 1.2rem;
  justify-content: center;
  text-align: center;
}

.coin-details {
  background-color: rgb(245, 68, 4);
  height: 100vh;
}

.property {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 3%;
  color: white;
  font-size: 1.1rem;
}

.property:nth-child(even) {
  background-color: rgb(222 61 3 / 63%);
}

.spec {
  margin-right: 27%;
}
